body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  header {
    background-image: url("images/roses-background_1339-3365.avif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  header img {
    height: 80px;
    margin-top: 10px;
  }
  
  header h1,
  header h3 {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
    color: #555;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  
  header ul {
    list-style-type: none;
    width: 100%;
    padding: 10px;
    margin: 0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
  }
  
  header ul li {
    display: inline-block;
    margin: 0 10px;
    border-radius: 20px;
    overflow: hidden;
  }
  
  header ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background: rgba(230, 63, 88, 0.7);
    transition: background-color 0.3s ease, color 0.3s ease,
      transform 0.3s ease;
  }
  
  header ul li:hover a {
    background: rgb(230, 63, 88);
    color: white;
    transform: scale(1.1);
  }
  
  .main {
    width: 100%;
    padding: 20px;
  }
  
  .section {
    width: 100%;
    padding: 20px;
  }
  
  .section h2 {
    margin-top: 0;
  }
  
  .section p {
    margin-bottom: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    header img {
      height: 60px;
    }
  
    header h1,
    header h3 {
      margin: 5px 0;
      padding: 5px;
    }
  
    header ul li {
      display: block;
      margin: 0 0 10px 0;
    }
  
    .main {
      padding: 10px;
    }
  
    .section {
      padding: 10px;
    }
  }
  